.Projets{
    margin-top:50px;
    background-color: #ececec;
    & .list-group{
        gap: 5px;
    }
    & .SectionVide{
        text-align:center;
    }
    & .titreProjet{
        display: flex;
        align-items: flex-start;
    }
    & .descrip{
        width: 85%;
    }
}




//Modifier Projet:
.ColorForm{
    margin: auto;
    height: 40px;
    border-radius: 5px;
}