.Projets{
    margin-top:50px;
    background-color: #ececec;
    & .list-group{
        gap: 5px;
    }
    & .SectionVide{
        text-align:center;
    }
    & .titreProjet{
        display: flex;
        align-items: flex-start;
    }
    & .descrip{
        width: 85%;
    }
    & .unProjet{
        transition-duration: 0.5;
        border: 2px solid black;
    }
    & .unProjet:hover{
        transition-duration: 0.5;
        border: 2px solid #FCA620;
    }
    & .unProjetAdded{
        transition-duration: 0.5;
        border: 2px solid black;
    }
    & .unProjetAdded:hover{
        transition-duration: 0.5;
        border: 2px solid #FCA620;
    }
}



.btn{
    background-color: white;
    border: 2px solid #FCA620;
    color: black;
}
.btn:hover{
    background-color: #FCA620;
    border: 2px solid #FCA620;
    color: white;
}




//Modifier Projet:
.ColorForm{
    margin: auto;
    height: 40px;
    border-radius: 5px;
}