div{
    & .barreRecherche{
        margin-top: 50px;
    }
    & .list-group{
        margin-top:25px;
            & .imgMembresList{
                height: 50px;
                border-radius: 10px;
            }
            & .material-symbols-outlined:hover{
                cursor: pointer;
            }
    }
}


