.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    height: 500px;
    margin-top: 50px;
    & .Compagnie{
        display: flex;
        align-items: flex-end;
        & .Logo{
            height: 100px;
        }
    }
}

